<div>
    <h1>Faq Page</div>
    <ul>
        <li><b>Is this a free plan?</b>Yes we offer a free 30 trials for 30days on any paid plan</li>
        <li><b>What is your support hours?</b>We have support staff answering email 24/7, Though response time may be a bit slow on weekends</li>
        <li><b>How to contact support?</b>Email us <a href='mailto:supports@lenlocked.com'>supports@lenlocked.com</a></li>
    </ul>
</div>